@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap');

 * {
  font-family: 'Press Start 2P', sans-serif;
}

body {
  background-color: #222;
}

.header{
  text-align: center;
  color: white;
  margin-bottom: 100px;
}

.btndisp1{
  margin-top: 50px;
}

.btndisp2{
  margin-top: 50px;
}

.guess{
  text-align: center;
  color: white;
}

.sc{
  color: white;
  margin-top: 50px;
}